@font-face {
  font-family: 'Poppins';
  src: font-url('Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: font-url('Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: font-url('Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: font-url('Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}
