<div class="flex flex-col justify-center items-center w-full">
  <div class="w-12">
    <%= image_tag "logo-fit.png" %>
  </div>

  <div class="form shadow rounded flex flex-col gap-2.5 p-4 m-2 w-3/4 bg-white">
    <div class="item">
      <label>Email:</label>
      <input>
    </div>

    <div class="item">
      <label>Contraseña:</label>
      <input>
    </div>

    <button class="btn-primary mt-4">
      Iniciar Sesión
    </button>
  </div>
</div>