@import "theme/variables";

/* Mobile First */
.header {
  padding: 4px 8px;

  .links {
    display: none;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .header {
    padding: 10px 30px;
  
    .links {
      display: flex;
      justify-content: space-between;
      gap: 12px;

      a:hover {
        color: $primary;
      }
    }
  }
}