@import "theme/variables";

/* Mobile First */
.header {
  padding: 4px 8px;

  .links {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $color-primary;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .menu a:hover {
    color: #f1f1f1;
  }
  
  .menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

/* Desktop */
@media (min-width: $size-desktop) {
  .header {
    padding: 10px 30px;
  
    .links {
      display: flex;
      justify-content: space-between;
      gap: 12px;

      a:hover {
        color: $color-primary;
      }
    }

    .menu-icon {
      display: none;
    }
  }
}