<div class="header flex justify-between items-center shadow-md">
  <div class="w-8">
    <%= image_tag "logo-fit.png" %>
  </div>

  <div class="links">
    <a href="#">About US</a>
    <a href="#">Contact</a>
  </div>
</div>