<div class="header flex justify-between items-center shadow-md">
  <div class="w-8">
    <%= image_tag "logo-fit.png" %>
  </div>

  <div class="links">
    <% @links.each do |link| %>
      <a href="#"><%= link[:title] %></a>
    <% end %>
  </div>

  <div class="menu-icon">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">  
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
      </svg>
    </span>
  </div>

  <div id="menu" class="menu">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <% @links.each do |link| %>
      <a href="#"><%= link[:title] %></a>
    <% end %>
  </div>
</div>

<script>
  function openNav() {
    document.getElementById("menu").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("menu").style.width = "0";
  }
</script>